.App {
  text-align: center;
}

.custom-img-height {
  height: 330px;
}

/* Jumbotron */ 
.bg-image {
  background-image: url(./assets/background.jpeg) !important;
  max-height: 50vh;
  background-position: center !important;
  background-size: cover !important;
}

/* Input Navbar */

input {
  max-width: 220px;
  max-height: 35px;
}


/* 
CSS del componente BookDetails */

.img-custom-book-details {
  max-height: 400px !important;
  object-fit: cover !important;
  padding-right: 1.5rem !important;
}

/* effetti SingleBook */

.single-book {
  box-shadow: 3px 3px 10px rgba(27, 27, 27, 0.3);
  transition: transform 0.3s ease-in !important;
}

.single-book:hover {
  transform: scale(1.1) !important;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5) !important;
}

